@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --primary-color: #feba01;
  --secondary-color: #000;
  --no-validation-error-color: green;
  --validation-error-color: red;
  --ui-accent-color:#656dfe;

  /* --inverted-primary-color: #000;
    --inverted-secondary-color: #feba01; */
}

body {
  font-family: "Poppins" sans-serif;
}

.area1 {
  height: 100vh;
}

.transparent-button {
  background: transparent;
  outline: none;
  border: none;
  padding: 0;
}

.transparent-button:focus {
  outline: none;
}

.radio-fields label.validation-error {
  border: 2px solid var(--validation-error-color) !important;
  color: var(--validation-error-color) !important;
}
.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  background-color: transparent !important;
}
.navbar-light .navbar-nav .nav-link {
  margin-right: 20px;
}

.navbar-light .navbar-toggler {
  color: rgba(0, 0, 0, 0.55);
  border-color: var(--primary-color) !important;
}
.navbar-toggler:focus {
  text-decoration: none;
  outline: 0;
  box-shadow: none !important;
}

@media (max-width: 500px) {
  .ant-drawer-content-wrapper {
    width: 278px !important;
  }
}

/* ===== antd drawer ====== */

@media (min-width: 1000px) {
  .ant-drawer.ant-drawer-left.css-dev-only-do-not-override-acm2ia.ant-drawer-open.ant-drawer-inline {
    height: 1230px;
  }
}

@media (max-width: 1025px) {
  .ant-drawer.ant-drawer-left.css-dev-only-do-not-override-acm2ia.ant-drawer-open.ant-drawer-inline {
    height: 1640px;
  }
}

@media (max-width: 540px) {
  .ant-drawer.ant-drawer-left.css-dev-only-do-not-override-acm2ia.ant-drawer-open.ant-drawer-inline {
    height: 2280px;
  }
}

/* .radio-fields label.no-validation-error {
  border: 2px solid var(--no-validation-error-color) !important;
} */


.MuiStepContent-root{
 
  margin-left: 8px !important;
  
}

.MuiStepConnector-line,.MuiStepContent-root{
  border-right: 0 !important;
    border-bottom: 0 !important;
    border-left: 3px solid var(--ui-accent-color) !important;
      border-top: 0 !important;
      
}


.MuiStepConnector-line{
margin-left: -10px !important;
}

.MuiStepper-vertical .MuiStep-root.active+.MuiStepConnector-root .MuiStepConnector-line {
  border-color: var(--ui-accent-color) !important;
}
.MuiStepConnector-root.Mui-disabled .MuiStepConnector-line{
border-color: rgba(102, 108, 255, 0.3) !important;
}